@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
}

main {
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem 0;
}

header {
    padding: 2rem 10rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 500;
}

nav li>a {
    text-decoration: none;
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.color {
    color: #FF5400;
}

.nav-container {
    display: flex;
}

#travel {
    transform: rotate(-30deg);

}

/* Banner Text*/
.banner-container {
    height: 500px;
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}


.banner-text,
.banner-input {
    position: relative;
    top: 120px;
}

.banner-text h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 800;
}

.banner-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    padding: 2rem 20px;
}

.banner-input input,
.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffffffde;
}

.btn {
    background-color: #FF5400;
    color: #fff;
}

.popular-tour {
    display: flex;
    gap: 100px;
    padding: 4rem 0;
}

.tour-text {
    margin-bottom: 30px;
}

.tour-text,
p,
ul {
    font-size: 18px;
}

.tour-text h2 {
    font-size: 44px;
    font-weight: 800;
}

.tour-text>ul>li {
    margin-bottom: 30px;
}

.tour-text ul {
    margin-left: 2rem;
}

.btn2 {
    background-color: #FF5400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.for-btn {
    margin-bottom: 15px;
}

/* Forimage layout */
/* .destination-container-images {} */

.for-section-1,
.for-section-2,
.for-section-3 {
    display: flex;
    justify-content: space-between;
}

.for-section-1,
.for-section-2,
.for-section-3 img {
    width: 100%;
}

.destination-container-images img {
    width: 100%;
}