@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
}

main {
    max-width: 1170px;
    margin: 0 auto;
    padding: 2rem 0;
}

.padding {
    padding: 1rem 0;
}

header {
    padding: 2rem 10rem;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 40px;
    font-size: 1rem;
    font-weight: 500;
}

nav li>a {
    text-decoration: none;
    color: #FF5400;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.color {
    color: #FF5400;
}

.nav-container {
    display: flex;
}

.nav-container img {
    transform: rotate(-30deg);

}

/* Banner Text*/
.banner-container {
    height: 500px;
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    text-align: center;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}


.banner-text {
    position: relative;
    top: 120px;
}

.banner-text h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.banner-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    padding: 2rem 20px;
}

.banner-input {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

#common-1st {
    position: relative;
    right: 2rem;
    top: 7px;
}

#common {
    margin-top: 7px;
}

#btn {
    display: flex;
    padding: 6px 20px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
}

.common img {
    position: relative;
    top: .7rem;
    right: 40px;
    /* background-color: yellow; */
    height: 30px;
    width: 30px;
}

.common>input img {
    color: yellow;
}

.common>input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffffffde;
}

.btn {
    background-color: #FF5400;
    color: #fff;
}

.popular-tour {
    display: flex;
    gap: 100px;
    padding: 4rem 0;
}

.tour-text {
    margin-bottom: 30px;
}

.tour-text,
p,
ul {
    font-size: 18px;
}

.tour-text h2 {
    font-size: 44px;
    font-weight: 800;
}

.tour-text>ul>li {
    margin-bottom: 30px;
}

.tour-text ul {
    margin-left: 2rem;
}

.btn2 {
    background-color: #FF5400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.for-btn {
    margin-bottom: 15px;
}

/* Forimage layout */
/* .destination-container-images {} */

.for-section-1,
.for-section-2,
.for-section-3 {
    display: flex;
    justify-content: space-between;
}

.for-section-1,
.for-section-2,
.for-section-3 img {
    width: 100%;
}

.destination-container-images img {
    width: 100%;
}


.about-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.card h3 {
    padding: 1rem 0;
    font-size: 24px;
    font-weight: 800;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
}

.card {
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-3rd {
    position: relative;
    left: 50%;
}

.card-unik {
    border-radius: 16px;
    width: 573px;
    height: 284px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-inner {
    padding: 35px;
}

.about-container-text {
    text-align: center;
    padding: 2rem 0;
}

.about-container-text h2 {
    font-size: 40px;
    padding: 1rem 0;
}

/* Discount Section */
.discount-title {
    text-align: center;
    padding: 3rem;
}

.discount-title h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

#discount-secion-right-img {
    transform: scaleX(-1);
    background-image: url("/Images/Group\ 39.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 2rem;
}

.discount-secion {
    background-image: url("/Images/Group\ 39.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 2rem;
}

#discount-card {
    transform: scaleX(-90deg);
    position: relative;
    top: 55px;
    left: 535px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.discount-card {
    position: relative;
    top: 55px;
    left: 535px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

#discount-details {
    transform: scaleX(-1);
    padding: 50px;
}

.discount-details {
    padding: 50px;
}

.discount-icons>ul {
    display: flex;
}

.discount-icons>ul>li {
    list-style: none;
    padding-bottom: 1rem;
    margin-right: 2rem;
}