@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap');

* {
    font-family: "Mulish";
    margin: 0;
    padding: 0;
}

main {
    max-width: 1170px;
    margin: 0 auto;
    /* padding: 2rem 0; */
}

.padding {
    padding: 1rem 0;
}

nav {
    height: 80px;
    color: #000;
    padding: 2rem 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

nav img {
    display: none;
}

.nav-items {
    display: flex;
    justify-content: space-between;
}

.overview {
    display: flex;
    margin-right: 4rem;
}

nav li {
    list-style: none;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #FF5400;
    font-weight: 600;
    font-size: 16px;
}

#check,
.menu {
    display: none;
}

.nav-items h3 {
    display: none;
}

.logo h2 {
    cursor: pointer;
}

/* .nav-container img {
    transform: rotate(-30deg);

} */

/* Banner Text*/
.container-two {
    height: 500px;
    background-image: url("/Images/Group\ 13\ \(1\)\ \(1\).png");
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color: white;
    /* margin: 0 10px; */
    border-radius: 8px;
}


.banner-text {
    position: relative;
    top: 120px;
}

.banner-text h1 {
    color: #fff;
    font-size: 64px;
    font-weight: 800;
}

.banner-text p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: white;
    /* padding: 2rem 20px; */
}


.banner-input {
    width: 900px;
    margin: 0 auto;
    margin-top: 8rem;
    border: none;
    background-color: #ffffff79;
    padding: 6px 15px;
    border-radius: 7px;

}

.banner-innn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-innn input::placeholder {
    position: relative;
    bottom: 7px;
}

#innn {
    padding: 5px 10px;
}

.banner-innn input,
.btnn {
    border: none;
}

.banner-innn div {
    background-color: white;
    border-radius: 6px;
}

#input-btn button {
    background-color: transparent;
}

#input-btn {
    background-color: #FF5400;
    display: flex;
    color: white;
}

/* Tour Section  */

.popular-tour {
    display: flex;
    gap: 100px;
    padding: 4rem 0;
}

.tour-text {
    margin-bottom: 30px;
}

.tour-text,
p,
ul {
    font-size: 18px;
}

.tour-text h2 {
    font-size: 44px;
    font-weight: 800;
}

.tour-text>ul>li {
    margin-bottom: 30px;
}

.tour-text ul {
    margin-left: 2rem;
}

.btn2 {
    background-color: #FF5400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

.for-btn {
    margin-bottom: 15px;
}

.about-container img {
    width: 100%;
}

.destination-container-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 200px;
}


/* Forimage layout */
/* .destination-container-images {} */

.about-card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

.card h3 {
    padding: 1rem 0;
    font-size: 24px;
    font-weight: 800;
}

.card p {
    font-size: 16px;
    font-weight: 400;
    padding: 1rem 0;
}

.card {
    width: 100%;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-3rd {
    position: relative;
    left: 50%;
}

.card-unik {
    border-radius: 16px;
    width: 573px;
    height: 284px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-inner img {
    height: 64px;
    width: 64px;
}

.card-inner {
    padding: 35px;
}

.about-container-text {
    text-align: center;
    padding: 2rem 0;
}

.about-container-text h2 {
    font-size: 40px;
    padding: 1rem 0;
}

/* Discount Section */
.discount-title {
    text-align: center;
    padding: 3rem;
}

.discount-title h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 5px;
}

#discount-secion-right-img {
    transform: scaleX(-1);
    background-image: url("/Images/Group\ 39.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 2rem;
}

.discount-secion {
    background-image: url("/Images/Group\ 39.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-bottom: 2rem;
}

#discount-card {
    transform: scaleX(-90deg);
    position: relative;
    top: 55px;
    left: 535px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

.discount-card {
    position: relative;
    top: 55px;
    left: 535px;
    width: 579px;
    height: 389px;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
}

#discount-details {
    transform: scaleX(-1);
    padding: 50px;
}

.discount-icons>ul {
    display: flex;
}

.discount-icons>ul>li {
    list-style: none;
    padding-bottom: 1rem;
    margin-right: 2rem;
}

.newsletter {
    display: flex;
    justify-content: space-between;
}

.for-add {
    width: 324px;
    height: 120px;
    transform: rotate(-20deg);
    border-radius: 16px;
    background-color: #FF5400;
    position: absolute;
}

.news-text {
    padding: 2rem;
    border-radius: 16px;
    border: 1px solid #FF5400;
}

.news-text h1,

p,
.button {
    width: 100%;
    padding: 10px 0;
}

.button {
    background-color: #FF5400;
    color: white;
    border: none;
    border-radius: 5px;
}

.news-text h1,
p {
    margin: 1rem 0;
}

.for-line {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}
















/* Responsive Design  */

/* @media screen and (min-width:567px) and (max-width:970px)  */

@media screen and (max-width:600px) {

    /* 
    .nav-items {
        position: relative;
        top: 0;
        right: 0;
        width: 250px;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2rem;
        right: 250px;
        transition: all ease-in-out 500ms;
    }

    .overview {
        flex-direction: column;
        width: auto;
        margin: 0;
    }

    .nav-items h3 {
        text-transform: uppercase;
        font-size: 13px;
        margin-bottom: 1rem;
    }

    .menu img {
        display: inline-block;
        cursor: pointer;
        vertical-align: top;
    }



    /* nav a:hover {
        margin-left: 2px;
        transition: all ease-in-out 300ms;
    } */


    /*  .menu {
        display: inline-block;
        position: fixed;
        right: 2.5rem;
        z-index: 99;
    }

    #check:checked~.nav-items {
        right: 0;
    }

    */



    .banner-innn {
        flex-direction: column;
    }

    .banner-innn div {
        width: 255px;
        height: 30px;
    }

    .banner-container {
        width: 100%;
    }

    .banner-text {
        position: relative;
        top: 1rem;
    }

    .banner-input {
        width: 287px;
        /* padding: 16px; */
        flex-direction: column;
        position: relative;
        bottom: 8rem;
    }

    .popular-tour {
        flex-direction: column;
    }

    .tour-text {
        padding: 0 2rem;
    }

    .tour-image {
        margin: 0 1rem;
    }

    .tour-image img {
        width: 100%;
    }

    .about-card {
        display: flex;
        flex-direction: column;
    }

    .card-3rd {
        left: 0;
    }

    .card-inner {
        padding: 10px;
    }

    .discount-details {
        position: relative;
    }

}